@font-face {
  font-family: "MenuFont";
  src: url("fonts/NeueHaasDisplayLight.ttf") format("truetype");
}
@font-face {
  font-family: "HeadingFont1";
  src: url("fonts/WulkanDisplayLight.ttf") format("truetype");
}
@font-face {
  font-family: "HeadingSpan";
  src: url("fonts/WulkanDisplayLightItalic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "FooterBold";
  src: url("fonts/NeueHaasDisplayRoman.ttf") format("truetype");
  font-style: normal;
}

:root {
  --accent: #806ca4;
  --accent-2: #9072b7;
  --muted: #666666;
  --bg: #f7f7f7;
  --max-width: 1280px;
  --base-font: 16px;
  --h1-size: 3.75rem; /* 60px desktop */
}

a:focus,
button:focus,
textarea:focus,
input:focus {
  outline: 3px solid rgba(128, 108, 164, 0.25);
  outline-offset: 2px;
}

html {
  font-size: var(--base-font);
}

body {
  font-family: "MenuFont";
  color: #222;
  margin: 0;
}

p {
  margin: 0;
}

.main-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.main-header {
  /* for main page only */
  background-image: url("images/background.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.simple-header {
  background-color: #f1e6f9;
}

main {
  margin: 40px 0px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 106px;
  height: auto;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 60px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.menu ul li a {
  text-decoration: none;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.53);
}

.menu ul li {
  margin: 0;
}

.menu ul li a:hover {
  color: #806ca4;
}

.icons {
  display: flex;
  gap: 25px;
}
.icons img {
  width: 28px;
}

.text-section {
  margin-top: 130px;
  text-align: center;
  align-items: center;
}

.text-section .heading {
  font-family: "HeadingFont1";
  font-size: 90px;
  text-transform: uppercase;
}

.care {
  color: #806ca4;
}

.special-p {
  font-family: "HeadingSpan";
  font-style: italic;
  text-transform: lowercase;
}

.text-section .paragraph {
  margin: 0 auto;
  color: #806ca4;
  font-size: 27px;
  max-width: 700px;
}

.btn-1 {
  position: relative;
  width: 353px;
  height: 80px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  color: white;
  font-size: 1.6em;
  font-family: "MenuFont", sans-serif;
  background: linear-gradient(88.12deg, #ad9df0 3.72%, #9071b6 95.59%);
  overflow: hidden;
  margin-top: 39px;
}

.btn-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background: url("images/texture.png") center/cover no-repeat;
  mix-blend-mode: lighten;
  pointer-events: none;
}

.page-heading {
  font-family: "HeadingFont1";
  font-size: 60px;
  text-align: center;
}
.page-heading span {
  font-family: "HeadingSpan";
  font-style: italic;
}

.head-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.left-head {
  display: flex;
  gap: 30px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  font-size: 15px;
}

#product-search {
  padding: 17px 12px;
  border-radius: 100px;
  border: 1px solid rgb(210, 210, 210);
}

.icons-items {
  display: flex;
}
.icons-items a img {
  height: 62px;
}

.items-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 40px 0px;
}

.items-wrapper img {
  width: 30px;
}

.items-cards {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 85px;
}

.item-card:nth-child(even) {
  padding: 20px;
  border: none;
  border-radius: 10px;
  background: #fbf7ff;
}

/* transition used */
.item-card {
  text-align: center;
  transition: transform 0.3s ease;
  position: relative;
}

.item-card:hover {
  transform: scale(1.35);
  z-index: 2;
}
.item-card:hover .see-more {
  display: block;
}

.item-card-h {
  font-size: 25px;
}
.item-card-descript {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}
.item-card img {
  width: 250px;
  height: auto;
}

.see-more {
  display: none;
  font-size: 20px;
  color: #9072b7;
  margin-top: 10px;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 70px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  display: inline-block;
}

.dot.active {
  background-color: #806ca4;
}

section {
  padding-top: 90px;
  padding-bottom: 90px;
}

.bestsellers {
  background-color: #f1e6f9;
}

.best-card-head {
  font-size: 33px;
}

.best-card-descript {
  color: rgba(0, 0, 0, 0.5);
}

.cards-best {
  flex-wrap: wrap;
  margin-top: 30px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.card-best {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 30px 60px;
}

.card-best img {
  height: 325px;
}

.foot-best-card {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
  gap: 7px;
}

.foot-best-card a img {
  height: 40px;
}

.btn-close {
  font-size: 19px;
  border-radius: 100px;
  border: none;
  padding: 5px 11px 7px 11px;
  background-color: #ded4ff;
  margin-bottom: 10px;
  color: #4f386d;
  cursor: pointer;
}

.foot-best-card button,
.modal-footer button,
.submit {
  width: 100%;
  background: linear-gradient(88.12deg, #ad9df0 3.72%, #9071b6 95.59%);
  border-radius: 50px;
  color: white;
  border: none;
  font-size: 21px;
  padding: 18px 13px;
  justify-content: center;
}

.modal-title {
  font-family: "FooterBold";
  font-size: 27px;
  margin: 20px 0;
}

#product-desc {
  font-size: 18px;
  color: #666;
  margin: 20px 0;
}

.ingredients-container {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  background: #f7f7f7;
  border-radius: 100px 100px 0 0;
  width: 250px;
  padding: 20px;
  text-align: center;
}

.card img {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.card h2 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.card p {
  color: #666;
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.card a {
  color: #9370db;
  font-weight: 500;
  font-size: 14px;
  font-size: 17px;
}

.next-btn {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  padding: 15px 54px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to right, #b790e0, #8e76d4);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.next-btn:hover {
  opacity: 0.9;
}

.faq-accordion {
  padding: 90px 0;
}

.accordion {
  max-width: 800px;
  margin: 40px auto 0;
}

/* transition used */
.accordion-header {
  background: #f7f7f7;
  cursor: pointer;
  padding: 18px 20px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  font-size: 18px;
  transition: background 0.3s ease;
  border-radius: 10px;
  margin-bottom: 5px;
}

.accordion-header:hover {
  background: #e0d4f5;
}

/* transition used */
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  padding: 0 20px;
  border-radius: 0 0 10px 10px;
}

.accordion-content p {
  font-size: 18px;
  margin: 15px 0;
}

.accordion-item.active .accordion-content {
  max-height: 200px;
  padding: 15px 20px;
}

.form-ques {
  background-image: url("images/form-background.png");
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 605px;
  margin-top: 30px;
  background-color: white;
  border-radius: 13px;
  padding: 30px 40px;
}

form input {
  border-radius: 25px;
  height: 44px;
  border: 1px solid #c0c0c0;
  font-size: 18px;
  font-family: "MenuFont";
  padding: 0px 10px;
}

form label {
  font-size: 20px;
  margin-bottom: 15px;
}

#submit-btn {
  width: 100%;
  padding: 15px 0px;
  color: white;
  background-color: #9d88bf;
  border: none;
  border-radius: 50px;
  font-size: 20px;
}

textarea {
  font-size: 18px;
  padding: 10px;
  font-family: "MenuFont";
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: #564370;
  padding: 40px 0;
  color: white;
}

.company-block {
  max-width: 307px;
}

.company-block img {
  padding-bottom: 25px;
}

.company-block p {
  font-size: 19px;
}

.f-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 19px;
}

.f-section p {
  font-family: "FooterBold";
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  margin-top: 10px;
}

ul li a {
  text-decoration: none;
  color: white;
}

.f-section ul li a:hover {
  color: #cab8ff;
}

.social {
  display: flex;
  gap: 10px;
  align-items: center;
}

.s-img {
  height: 26px;
}

.compare-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.compare-table-wrapper {
  width: 100%;
  overflow: hidden;
}

.compare-table-scroll {
  width: 100%;
  overflow: scroll;
}

.compare-table th {
  background-color: #806ca4;
  color: white;
  text-align: left;
  padding: 15px;
  font-size: 18px;
}

.compare-table td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.7);
}

.compare-table tr:nth-child(even) {
  background-color: #f9f5ff;
}

.hamburger {
  display: none;
}

/* css style for js */
.hide {
  display: none !important;
}

/* gallery */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
.gallery-grid img {
  height: 400px;
  display: block;
  cursor: pointer;
  margin: 0 auto;
}

.g-card p {
  text-align: center;
  margin-top: 10px;
}

.lightbox {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.lightbox img {
  max-width: 80%;
  max-height: 80%;
}
.lightbox button {
  position: absolute;
  background: transparent;
  color: white;
  border: none;
  font-size: 28px;
}
#lb-close {
  top: 20px;
  right: 20px;
}
#lb-prev {
  left: 20px;
}
#lb-next {
  right: 20px;
}
.category-filters {
  margin: 0 auto;
}

.category-filters button {
  background: linear-gradient(88.12deg, #ad9df0 3.72%, #9071b6 95.59%);
  border-radius: 50px;
  color: white;
  border: none;
  font-size: 16px;
  padding: 15px 20px;
  margin: 0 10px 20px 0;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

/*  MEDIA QUERIES SECTION */

/* -------- TABLET -------- */
@media (min-width: 601px) and (max-width: 991px) {
  .menu {
    display: none;
    background: #806ca4;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1000;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    margin-top: 20px;
    padding: 20px 0;
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .menu ul li a {
    color: white;
  }

  .main-container {
    width: 100%;
    max-width: 900px;
  }

  .text-section .heading {
    font-size: 60px;
  }

  .text-section .paragraph {
    font-size: 22px;
  }

  .btn-1 {
    width: 250px;
    height: 65px;
    font-size: 1.2em;
  }

  .page-heading {
    font-size: 40px;
  }

  .items-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-best {
    max-width: 500px;
    padding: 20px 30px;
  }

  .card-best > img {
    height: 250px;
  }

  .ingredients-container {
    gap: 20px;
  }

  footer .footer-info {
    gap: 40px;
  }

  .hamburger {
    display: block;
    margin-right: auto;
    font-size: 40px;
    padding-left: 20px;
    color: #806ca4;
    cursor: pointer;
  }

  .footer-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery-grid img {
    height: 250px;
    margin: 0 auto;
  }
}

/* -------- MOBILE (до 600px) -------- */
@media (max-width: 600px) {
  /* HEADER */

  .header {
    height: 100%;
  }
  .main-container {
    width: 100%;
  }

  .page-heading {
    font-size: 55px;
  }

  .dropdown {
    height: 54px;
    width: 250px;
  }

  .text-section {
    margin-top: 50px;
  }

  .container {
    display: flex;
    align-items: center;
  }

  .icons-items a img {
    max-height: 54px;
  }

  .logo {
    height: 80px;
    width: auto;
  }

  .menu {
    display: none;
    background: #806ca4;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1000;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    margin-top: 20px;
    padding: 20px 0;
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .menu ul li a {
    color: white;
  }

  .menu ul li a:hover {
    color: yellow;
  }

  .icons {
    margin-top: 15px;
  }

  .text-section {
    margin-bottom: auto;
    padding: 0 20px;
  }

  .text-section .heading {
    font-size: 65px;
    line-height: 1.2;
  }

  .text-section .paragraph {
    font-size: 23px;
  }

  .btn-1 {
    width: 200px;
    height: 55px;
    font-size: 1em;
  }

  /* OUR ITEMS */
  .head-items {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .items-wrapper {
    flex-direction: column;
  }

  .icons-items {
    justify-content: center;
  }

  .items-cards {
    grid-template-columns: 1fr;
  }

  .item-card .item-card img {
    width: 200px;
  }

  .dots {
    margin-top: 40px;
  }

  /* BESTSELLERS */
  .cards-best {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .card-best {
    max-width: 500px;
    padding: 10px 20px;
  }

  .card-best > img {
    min-height: 150px;
    max-height: 300px;
  }

  /* INGREDIENTS */
  .ingredients-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    border-radius: 40px;
  }

  /* FORM */
  form {
    width: 90%;
    padding: 20px;
  }

  form label {
    font-size: 16px;
  }

  /* FOOTER */
  .footer-info {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
  }

  .f-section ul li {
    margin-top: 5px;
  }

  .company-block img {
    margin: 0 auto;
  }

  .social {
    justify-content: center;
  }

  /* TABLE STYLES */
  .hamburger {
    display: block;
    margin-right: auto;
    font-size: 40px;
    padding-left: 20px;
    color: #806ca4;
    cursor: pointer;
  }

  .compare-table {
    font-size: 14px;
  }
  .compare-table th,
  .compare-table td {
    padding: 10px;
  }

  .left-head {
    flex-direction: column;
  }

  .f-section,
  .company-block {
    align-items: center;
    text-align: center;
  }

  .footer-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .social {
    justify-content: center;
  }

  .gallery-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
  }

  .gallery-grid img {
    height: 250px;
  }
}
